In [7]:
import pandas as pd

In [8]:
pip install pandas --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\playdata\appdata\roaming\python\python310\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoon\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoon\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hoon\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.1 in c:\users\playdata\appdata\roaming\python\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoon\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
고객정보_file = 'C:/Users/Playdata/Downloads/고객정보.csv'
주문정보_file = 'C:/Users/Playdata/Downloads/주문정보.csv'
결제정보_file = 'C:/Users/Playdata/Downloads/결제정보.csv'

In [16]:
고객정보_data = pd.read_csv(고객정보_file)
주문정보_data = pd.read_csv(주문정보_file)
결제정보_data = pd.read_csv(결제정보_file)

In [22]:
고객정보_data.head()

,회원번호,회원등급,가입일,최종방문일,본인인증,성별,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번
0,1476,임직원,2016-11-05 00:00:00,2018-04-30 17:34:58,-,M,31,서울 금천구 가마산로 70,-
1,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6
2,1874,임직원,2017-11-02 15:55:11,2018-11-07 07:27:31,MOBILE,M,39,경기 성남시 분당구 판교역로 4,경기 성남시 분당구 백현동 582-7
3,1875,임직원,2017-11-02 16:08:18,2018-11-05 08:35:48,MOBILE,F,29,서울 은평구 연서로34가길 10-16,서울 은평구 불광동 346-87
4,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8

In [33]:
주문정보_data.head()

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부,회원번호
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,0.0,9760.0,Y,1876
1,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,2500.0,1560.0,Y,1876
2,1711080932562165,1,2017-11-08 09:33:20,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6700,(임직원 전용)[런드레스] 울 캐시미어 스프레이 세다 cedar (4 fl.oz),NaN,1,16200.0,0.0,3240.0,Y,1882
3,1711080934572167,1,2017-11-08 09:35:19,환불완료,서울 영등포구 국제금융로2길 32,G1710311906_7061,(임직원 전용)[트레비앙] 전동 와인 오프너_DM-503,NaN,1,35040.0,3000.0,7000.0,Y,1882
4,1711080944432170,1,2017-11-08 09:45:08,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6698,(임직원 전용)[런드레스] 패브릭 프레쉬 베이비 Baby (4 fl.oz.),NaN,1,16200.0,0.0,3240.0,Y,1882

In [34]:
결제정보_data.head()

,주문번호,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1709061018150051,18,2017-09-06 10:19:59,완료,신용카드,10500.0,삼성카드,0.0
1,1709111530200146,46,2017-09-11 15:32:42,완료,신용카드,27500.0,삼성카드,0.0
2,1709241514300410,161,2017-09-24 15:24:39,완료,가상계좌,30500.0,NaN,NaN
3,1709261646470481,210,2017-09-26 17:05:03,완료,신용카드,0.0,삼성카드,0.0
4,1709262044350511,233,2017-09-26 20:55:24,완료,신용카드,7500.0,신한카드,0.0

In [25]:
merge_고객_주문 = pd.merge(고객정보_data, 주문정보_data, on = '회원번호', how = 'outer' )

In [32]:
merge_고객_주문.head()

,회원번호,회원등급,가입일,최종방문일,본인인증,성별,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번,주문번호,...,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부
0,1476,임직원,2016-11-05 00:00:00,2018-04-30 17:34:58,-,M,31,서울 금천구 가마산로 70,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6,1.711081e+15,...,주문취소,서울 영등포구 국제금융로 10,G1710311906_7080,(임직원 전용)[쉐우드가구] 발레린 원목 침대 Q퀸(독립스프링 매트리스 포함),NaN,1.0,960000.0,0.0,0.0,Y
2,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6,1.711081e+15,...,주문취소,서울 영등포구 국제금융로 10,G1710311848_6934,(임직원 전용)[하츠] 직접 설치하는 이지 셀프 주방 렌지후드 (DIY 후드),색상:아쿠아블루_ES-60AB,1.0,84000.0,0.0,0.0,Y
3,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6,1.711082e+15,...,주문취소,서울 영등포구 국제금융로 10,G1710171320_3622,(임직원 전용)[아름다운공간] 르리에 원목받침 스텐수저통 2 style (1단/2단),구성:2단(원목받침+수저통2P),1.0,18000.0,2500.0,3600.0,Y
4,1873,임직원,2017-11-02 15:54:32,2018-11-05 10:12:51,MOBILE,M,32,경기 고양시 일산서구 고양대로 620,경기 고양시 일산서구 일산동 960-6,1.711111e+15,...,결제취소,서울 영등포구 국제금융로 10,G1710170945_3565,(임직원 전용)[아름다운공간] natural365 카페 주방매트,NaN,1.0,21840.0,2500.0,4360.0,Y

In [28]:
merge_고객_주문_결제 = pd.merge(merge_고객_주문, 결제정보_data, on = '주문번호', how = 'outer')

In [29]:
merge_고객_주문_결제

,회원번호,회원등급,가입일,최종방문일,본인인증,성별,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번,주문번호,...,배송비,쿠폰할인액,회원주문여부,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1476.0,임직원,2016-11-05 00:00:00,2018-04-30 17:34:58,-,M,31,서울 금천구 가마산로 70,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1878.0,임직원,2017-11-02 16:16:58,2018-04-02 19:02:05,MOBILE,M,20,서울 은평구 은평터널로 121-6,서울 은평구 신사동 367,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1900.0,임직원,2017-11-06 14:40:37,2018-11-06 08:35:01,MOBILE,M,29,서울 양천구 신월로 99,서울 양천구 신월동 987-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1903.0,임직원,2017-11-06 15:54:53,2018-10-29 10:44:09,MOBILE,M,36,서울 동작구 성대로10길 30,서울 동작구 상도동 273,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1905.0,임직원,2017-11-06 16:07:08,2018-02-21 10:57:09,MOBILE,M,45,서울 광진구 아차산로 552,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.709271e+15,...,NaN,NaN,NaN,266.0,2017-09-27 14:09:35,완료,적립금,700.0,NaN,NaN
75905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.709281e+15,...,NaN,NaN,NaN,316.0,2017-09-28 09:55:33,완료,적립금,33200.0,NaN,NaN
75906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.709282e+15,...,NaN,NaN,NaN,357.0,2017-09-28 18:39:12,완료,적립금,6300.0,NaN,NaN
75907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.709291e+15,...,NaN,NaN,NaN,411.0,2017-09-29 11:43:07,완료,적립금,6300.0,NaN,NaN
75908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.710101e+15,...,NaN,NaN,NaN,466.0,2017-10-10 10:57:38,완료,적립금,33200.0,NaN,NaN